<div class="trgh-contact-success-failure-response-container" id="thank-you">
  <div class="trgh-contact-success-failure-response-message">
    <p>
      Thank you. A member of our team will get back to you as soon as possible.
    </p>
    <a href="" alt="Dismiss this message">
      <svg width="30" height="30">
        <line x1="3" y1="7" x2="27" y2="23" style="stroke:#FFE0B7; stroke-width:3; stroke-linecap:round"/>
        <line x1="3" y1="23" x2="27" y2="7" style="stroke:#FFE0B7; stroke-width:3; stroke-linecap:round"/>
      </svg>
    </a>
  </div>
</div>
<div class="trgh-contact-success-failure-response-container" id="failure">
  <div class="trgh-contact-success-failure-response-message">
    <p>
      Your message was not delivered. If you continue to get this error message, please call us and a member of our team will be delighted to assist you.
    </p>
    <a href="" alt="Dismiss this message">
      <svg width="30" height="30">
        <line x1="3" y1="7" x2="27" y2="23" style="stroke:#FFE0B7; stroke-width:3; stroke-linecap:round"/>
        <line x1="3" y1="23" x2="27" y2="7" style="stroke:#FFE0B7; stroke-width:3; stroke-linecap:round"/>
      </svg>
    </a>
  </div>
</div>
