$trgh-background-colour-darker: #A84525;
$trgh-background-colour-lighter:#EDB74D;
$trgh-background-colour-darker-lower-opacity: rgba(168, 69, 37, 0.9);
$trgh-background-colour-even-darker: #96250F;
$trgh-colour-light: #FFE0B7;
$trgh-text-colour-lighter: #FFE0B7;
$trgh-text-colour-darker: #663318;
$trgh-shadow-colour: rgba(0, 0, 0, 0.8);
$trgh-colour-black: #302F2F;
