---
title: Thai Rack Glass House - Home
---
<%= partial "partials/success-failure" %>
<div class="trgh-hero-container">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-left" src="../images/trgh-decoration-corner-top-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-right" src="../images/trgh-decoration-corner-top-right.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-left" src="../images/trgh-decoration-corner-bottom-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-right" src="../images/trgh-decoration-corner-bottom-right.png" alt="Decorative Thai Motif">
  <div class="trgh-hero-logo" alt="Thai Rack Glass House Logo">
  </div>
  <h1 class="trgh-hero-text trgh-centre">
    Thai Rack<br>
    Glass House
  </h1>
</div>
<div class="trgh-section-lighter" id="about-us">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-left" src="../images/trgh-decoration-corner-top-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-right" src="../images/trgh-decoration-corner-top-right.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-left" src="../images/trgh-decoration-corner-bottom-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-right" src="../images/trgh-decoration-corner-bottom-right.png" alt="Decorative Thai Motif">
  <div class="trgh-section-header">
    <h2>
      News
    </h2>
  </div>
  <p>
    Thai Rack Glass House has reopened under new management.
  </p>
  <p>
    We have changed our opening times and are now open on Sundays and closed on Mondays.
  </p>
  <h2>
    About Us
  </h2>
  <p>
    A culinary experience in Thai cuisine is synonymous with a journey through Thai culture; every presentation is aesthetic, elegant and indeed graceful.
  </p>
  <p>
    At Thai Rack Glass House, we firmly believe in upholding a tradition which has since propelled Thai food to the forefront of worldwide cuisines. Indeed, it is our utmost intention to provide dining guests with an experience immersed in authenticity which is true to the essence of Thai cuisine.
  </p>
  <p>
    At Thai Rack Glass House, our motto is to serve and we shall endeavour to make your visit to us a truly enjoyable occasion.
  </p>
  <div class="trgh-about-section-image-container">
    <img class="trgh-about-section-image" src="../images/trgh-about-section-image.jpg">
  </div>
</div>
<div class="trgh-section-darker" id="book">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-left" src="../images/trgh-decoration-corner-top-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-right" src="../images/trgh-decoration-corner-top-right.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-left" src="../images/trgh-decoration-corner-bottom-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-right" src="../images/trgh-decoration-corner-bottom-right.png" alt="Decorative Thai Motif">
  <div class="trgh-section-header">
    <h2>
      Book Online
    </h2>
    <p>For same-day bookings, please call the restaurant on <span class="trgh-text-bold"><a href="tel:01763250488" title="Call Thai Rack Glass House">01763 250 488</a></span> to get prompt attention and confirmation.</p>
  </div>
  <form class="trgh-booking-form" method="post" action="https://web-workshop-messenger.herokuapp.com/f/8d3471">
    <div class="trgh-contact-item">
      <h3>Full Name</h3>
      <input class="trgh-booking-form-item" type="text" maxlength="255" id="full-name" name="full-name">
    </div>
    <div class="trgh-contact-item">
      <h3>Email Address</h3>
      <input class="trgh-booking-form-item" type="email" maxlength="255" id="email-address" name="email-address" required>
    </div>
    <div class="trgh-contact-item">
      <h3>Phone Number</h3>
      <input class="trgh-booking-form-item" type="text" maxlength="255" id="phone-number" name="phone-number" required>
    </div>
    <div class="trgh-contact-item">
      <h3>Date</h3>
      <select class="trgh-booking-form-item" maxlength="255" id="date" name="date">
        <option><script src="javascripts/today.js"></script></option>
        <option><script src="javascripts/today-plus-1.js"></script></option>
        <option><script src="javascripts/today-plus-2.js"></script></option>
        <option><script src="javascripts/today-plus-3.js"></script></option>
        <option><script src="javascripts/today-plus-4.js"></script></option>
        <option><script src="javascripts/today-plus-5.js"></script></option>
        <option><script src="javascripts/today-plus-6.js"></script></option>
        <option><script src="javascripts/today-plus-7.js"></script></option>
        <option><script src="javascripts/today-plus-8.js"></script></option>
        <option><script src="javascripts/today-plus-9.js"></script></option>
        <option><script src="javascripts/today-plus-10.js"></script></option>
        <option><script src="javascripts/today-plus-11.js"></script></option>
        <option><script src="javascripts/today-plus-12.js"></script></option>
        <option><script src="javascripts/today-plus-13.js"></script></option>
        <option value="Other - See message">Other Date - please specify in 'Special Requirements'</option>
      </select>
    </div>
    <div class="trgh-contact-item-half-container">
      <div class="trgh-contact-item trgh-contact-item-half">
        <h3>Time</h3>
        <input class="trgh-booking-form-item" type="text" maxlength="255" id="time" name="time">
      </div>
      <div class="trgh-contact-item trgh-contact-item-half">
        <h3>Guests</h3>
        <input class="trgh-booking-form-item" type="number" min="1" max="100" maxlength="255" id="guests" name="guests">
      </div>
    </div>
    <div class="trgh-contact-item">
      <h3>Special Requirements</h3>
      <textarea class="trgh-booking-form-item" placeholder="If you have any special requirements (e.g. dietary), please let us know here." rows="4" maxlength="4000" id="message" name="message"></textarea>
    </div>
    <div class="trgh-contact-item trgh-contact-item-centred">
      <input type="submit" value="Place Your Booking" class="trgh-contact-button">
    </div>
    <div class="trgh-contact-item trgh-contact-item-centred">
      <input class="trgh-contact-button" type="reset">
    </div>
  </form>
</div>
<div class="trgh-section-lighter" id="find-us">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-left" src="../images/trgh-decoration-corner-top-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-right" src="../images/trgh-decoration-corner-top-right.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-left" src="../images/trgh-decoration-corner-bottom-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-right" src="../images/trgh-decoration-corner-bottom-right.png" alt="Decorative Thai Motif">
  <div class="trgh-section-header">
    <h2>
      Find Us
    </h2>
  </div>
  <iframe class="trgh-google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.654959287102!2d-0.026890584139238755!3d52.04959687873535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877d51338443f39%3A0x5504004706ee6902!2sThai+Rack+Glass+House!5e0!3m2!1sen!2suk!4v1512206411180" frameborder="0"></iframe>
  <p class="trgh-text-centre">29 Kneesworth Street, Royston, SG8 5AB<p>
</div>
<div class="trgh-section-darker" id="opening-hours">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-left" src="../images/trgh-decoration-corner-top-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-right" src="../images/trgh-decoration-corner-top-right.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-left" src="../images/trgh-decoration-corner-bottom-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-right" src="../images/trgh-decoration-corner-bottom-right.png" alt="Decorative Thai Motif">
  <div class="trgh-section-header">
    <h2>
      Opening Hours
    </h2>
  </div>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Sunday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    2.00 - 10.00 pm
  </p>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Monday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    Closed
  </p>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Tuesday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    12.00 - 2.30 &emsp;&emsp; 6.00 - 10.00 pm
  </p>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Wednesday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    12.00 - 2.30 &emsp;&emsp; 6.00 - 10.00 pm
  </p>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Thursday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    12.00 - 2.30 &emsp;&emsp; 6.00 - 10.00 pm
  </p>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Friday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    12.00 - 2.30 &emsp;&emsp; 6.00 - 10.30 pm
  </p>
  <p class="trgh-text-centre trgh-text-bold trgh-text-reduced-margin-bottom">
    Saturday
  </p>
  <p class="trgh-text-centre trgh-text-no-margin-top">
    12.00 - 2.30 &emsp;&emsp; 6.00 - 10.30 pm
  </p>
  <div class="trgh-thumbnail-container">
    <img class="trgh-thumbnail" src="../images/trgh-image-1.jpg" alt="Thumbnail Restaurant Picture">
    <img class="trgh-thumbnail" src="../images/trgh-image-2.jpg" alt="Thumbnail Restaurant Picture">
    <img class="trgh-thumbnail trgh-thumbnail-centre" src="../images/trgh-image-3.jpg" alt="Thumbnail Restaurant Picture">
    <img class="trgh-thumbnail" src="../images/trgh-image-4.jpg" alt="Thumbnail Restaurant Picture">
    <img class="trgh-thumbnail" src="../images/trgh-image-5.jpg" alt="Thumbnail Restaurant Picture">
  </div>
</div>
<div class="trgh-section-lighter" id="contact">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-left" src="../images/trgh-decoration-corner-top-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-top-right" src="../images/trgh-decoration-corner-top-right.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-left" src="../images/trgh-decoration-corner-bottom-left.png" alt="Decorative Thai Motif">
  <img class="trgh-decoration-corner trgh-decoration-corner-bottom-right" src="../images/trgh-decoration-corner-bottom-right.png" alt="Decorative Thai Motif">
  <div class="trgh-section-header">
    <h2>
      Contact Us
    </h2>
    <p>Call us on <span class="trgh-text-bold"><a href="tel:01763250488" title="Call Thai Rack Glass House">01763 250 488</a></span> or send us a message using our contact form below:</p>
    <form class="trgh-booking-form" method="post" action="https://web-workshop-messenger.herokuapp.com/f/8d3471">
      <div class="trgh-contact-item">
        <h3>Full Name</h3>
        <input class="trgh-booking-form-item" type="text" maxlength="255" name="full-name" required>
      </div>
      <div class="trgh-contact-item">
        <h3>Email Address</h3>
        <input class="trgh-booking-form-item" type="email" maxlength="255" name="email-address" required>
      </div>
      <div class="trgh-contact-item">
        <h3>Phone Number</h3>
        <input class="trgh-booking-form-item" type="text" maxlength="255" name="phone-number">
      </div>
      <div class="trgh-contact-item">
        <h3>Message</h3>
        <textarea class="trgh-booking-form-item" rows="4" maxlength="4000" name="message"></textarea>
      </div>
      <div class="trgh-contact-item trgh-contact-item-centred">
        <input type="submit" value="Send" class="trgh-contact-button">
      </div>
      <div class="trgh-contact-item trgh-contact-item-centred">
        <input class="trgh-contact-button" type="reset">
      </div>
    </form>
  </div>
</div>
<div class="trgh-generic-padded-container trgh-footer">
  <p>&copy; Thai Rack Glass House <%= Time.now.strftime("%Y") %></p>
  <a href="https://leigh.webworkshop.ltd" title="Leigh Web Workshop" target="_blank">
    <p>
      Website Design &amp; Hosting by Web Workshop
      <img class="ww-logo" src="../images/ww-logo.svg" alt="Web Workshop Logo">
    </p>
  </a>
</div>
