---
title: Our Menu - Thai Rack Glass House
---
<div class="trgh-menu-container">
  <div class="trgh-menu-introduction-container" id="menu-introduction">
    <h3 class="trgh-menu-introduction-header trgh-menu-introduction-header-top">
      Sawasdee Ka
    </h3>
    <h3 class="trgh-menu-introduction-header trgh-menu-introduction-header-top trgh-text-thai trgh-menu-introduction-header-thai">
      สวัสดีค่ะ
    </h3>
    <p>
      For many generations, Thai people have worked towards perfecting
      the art of cooking by blending traditional methods
      with the evolving nature of nutritional science.
    </p>
    <p>
      Modern Thai cuisine is the embodiment of a culinary philosophy
      that promotes the balance of taste, texture and nutrition.
    </p>
    <p>
      Thai cuisine incorporates the subtle blending of herbs and spices
      to produce imaginative and memorable flavours.
      The presentation of Thai food should reflect the nation’s culture
      and be aesthetically pleasing and elegant.
    </p>
    <p>
      At the <span class="trgh-text-bold">Thai Rack Glass House</span>, we firmly believe in upholding the traditions
      that have propelled Thai food to the forefront of worldwide cuisines.
      Our main aim is to provide guests with an authentic dining experience which
      is true to the essence of Thai cuisine.
    </p>
    <p>
      Our motto is ‘to serve’ and we shall always endeavour
      to make your visit a truly enjoyable occasion.
    </p>
    <h3 class="trgh-menu-introduction-header trgh-menu-introduction-header-bottom trgh-text-thai trgh-menu-introduction-header-thai">
      ขอบคุณค่ะ
    </h3>
    <h3 class="trgh-menu-introduction-header trgh-menu-introduction-header-bottom">
      Khobkhun Ka
    </h3>
  </div>
  <div class="trgh-menu-meal-container" id="dinner-menu">
    <div class="trgh-menu-section-heading-container">
      <h1>Dinner</h1>
      <h2 class="trgh-menu-clickable-title" id="special-set-menu-title">
        Special Set Menu
        <svg class="trgh-expandable-arrow" id="special-set-menu-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h2>
    </div>
    <div class="trgh-menu-item-container" id="special-set-menu">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Set A
              <span class="trgh-menu-item-name-clarification">(minimum of 2 persons)</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            22.95 /person
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Starters
          </p>
          <ul>
            <li>
              Glass House Platter
            </li>
          </ul>
          <p>
            Main Dishes
          </p>
          <ul>
            <li>
              Chicken red curry 33 <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </li>
            <li>
              Stir-fried pork with garlic sauce 44
            </li>
            <li>
              Stir-fried beef with oyster sauce 49
            </li>
            <li>
              Thai jasmine rice
            </li>
          </ul>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Set B
              <span class="trgh-menu-item-name-clarification">(minimum of 2 persons)</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            24.95 /person
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Starters
          </p>
          <ul>
            <li>
              Glass House Platter
            </li>
          </ul>
          <p>
            Main Dishes
          </p>
          <ul>
            <li>
              Stir-fried squid with Thai chill oil 65 <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </li>
            <li>
              Stir-fried prawns with mixed vegetables 63
            </li>
            <li>
              Crispy tilapia topped with red curry sauce 67 <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </li>
            <li>
              Thai jasmine rice
            </li>
          </ul>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Set C
              <span class="trgh-menu-item-name-clarification">(minimum of 4 persons)</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            22.95 /person
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Starters
          </p>
          <ul>
            <li>
              Glass House Platter
            </li>
          </ul>
          <p>
            Main Dishes
          </p>
          <ul>
            <li>
              Beef green curry 34 <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </li>
            <li>
              Stir-fried chicken with garlic sauce 44
            </li>
            <li>
              Stir-fried pork with black bean sauce 42
            </li>
            <li>
              Stir-fried prawns with sweet &amp; sour sauce 61
            </li>
            <li>
              Stir-fried mixed vegetables in oyster sauce 82
            </li>
            <li>
              Stir-fried egg noodles 98
            </li>
            <li>
              Thai jasmine rice
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="trgh-generic-padded-container">
      <p class="trgh-text-centre" id="special-set-menu-show-hide-p">** All set meals finish with Tea or Coffee **</p>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h2>Appetizers</h2>
      <h3 class="trgh-menu-clickable-title" id="starters-title">
        Starters
        <svg class="trgh-expandable-arrow" id="starters-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="starters">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Glass House Platter
              <span class="trgh-menu-item-name-clarification">(minimum of 2 persons)</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            12.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Mixed starters: Chicken Satay, Golden Parcel, Chicken/Prawns on Toast, Thai Fish Cakes and Vegetable Spring Rolls
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              1. Chicken Satay <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Grilled marinated chicken on a skewer served with peanut sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              2. Toong Tong
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried minced chicken and prawns in a pastry purse served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              3. Kanom Pang Nah Goong
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried minced chicken and prawns on toast with sesame seed topping served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              4. Sie-Krong Moo
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.75
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thai style barbeque pork spare ribs with Thai herbs
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              5. Moo Ping <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Grilled marinated pork on a skewer served with Thai spicy chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              6. Kanom Jeeb
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            6.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thai style steamed minced pork and prawn dumplings served with dark soy sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              7. Goong Hom Pah
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            6.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried marinated king prawns wrapped in pastry served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              8. Goong Choop Pang Tord
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            6.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried king prawns in tempura batter served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              9. Tord-Mun Pla
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            6.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Traditional Thai fish cakes served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              10. Por Pia Tord
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried vegetable spring rolls served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              11. Por Pia Ped <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried shredded duck rolls topped with hoisin sauce &amp; cashew nuts
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              12. Aromatic Crispy Duck
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            10.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thai style crispy duck served with 6 pancakes, sliced cucumber, spring onion and hoisin sauce
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="soups-title">
        Soups
        <svg class="trgh-expandable-arrow" id="soups-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
      <p class="trgh-text-centre" id="soups-show-hide-p">With a choice of Chicken 5.75 Prawns 6.25 Mixed Seafood 6.95</p>
    </div>
    <div class="trgh-menu-item-container" id="soups">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              16. Tom Yum <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Traditional Thai hot &amp; sour clear soup flavoured with lemongrass, lime leaves, galangal and a final squeeze of fresh lemon and a touch of chilli oil
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              17. Tom Kha
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Similar in taste to Tom Yum, this creamy soup is cooked with coconut milk and it has a more distinct taste of galangal to mellow the flavour
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="salads-title">
        Salads
        <svg class="trgh-expandable-arrow" id="salads-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="salads">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              20. Som Tum <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon"> <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            A papaya and carrot salad mixed with chilli, fine beans, tomatoes and topped with roasted peanuts
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              21. Larb Gai <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Minced chicken mixed with ground roasted rice, chilli, red onion, flavoured with lemon juice
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              22. Num Tok Moo <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thinly sliced pork mixed with ground roasted rice, chilli, red onion and flavoured with lemon juice
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              23. Yum Nuer <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            8.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thinly sliced beef mixed with chilli, red onion, carrot, tomatoes, spring onion and flavoured with lemon juice
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              24. Yum Talay <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Succulent mixed seafood with chilli, onion, carrots, tomatoes, spring onion and flavoured with lemon juice
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h2>Main Courses</h2>
      <h3 class="trgh-menu-clickable-title" id="thai-curries-title">
        Thai Curries
        <svg class="trgh-expandable-arrow" id="thai-curries-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
      <p class="trgh-text-centre" id="thai-curries-show-hide-p">with a choice of Chicken 8.50 Beef 8.95 Prawns 9.50</p>
    </div>
    <div class="trgh-menu-item-container" id="thai-curries">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              30. Massamun <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Beef)
          </p>
          <p>
            A typical Muslim mild curry, cooked with coconut milk and a special blend of herbs, onion and potatoes
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              31. Gang Ga-Ree <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Beef)
          </p>
          <p>
            A medium spiced Thai yellow curry cooked with coconut milk, onion, potatoes and topped with dried shallots
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              32. Pa-Naeng <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Beef or Prawns)
          </p>
          <p>
            A popular thick and creamy red curry cooked with coconut milk and flavoured with lime leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              33. Gang Daeng <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Beef or Prawns)
          </p>
          <p>
            A famous Thai red curry cooked with coconut milk, bamboo shoots, aubergine, fine beans, capsicum, chilli, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              34. Gang Khiew-Whan <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Beef or Prawns)
          </p>
          <p>
            A famous Thai green curry cooked with coconut milk, bamboo shoots, aubergine, fine beans, capsicum, chilli, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              35. Gang Pa <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-hot" src="../images/trgh-spiciness-very-hot.svg" alt="Very Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Beef or Prawns)
          </p>
          <p>
            A very spicy jungle curry cooked without coconut milk, bamboo shoots, aubergine, fine beans, capsicum, chilli, krachai and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              36. Gang Ped Lychee <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Roasted duck fillet cooked in a red curry with coconut milk, bamboo shoots, aubergine, fine beans, capsicum, chilli, pineapple, cherry tomatoes, lychee and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              37. Gang Kua Goong <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            12.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Large river prawns cooked in a red curry with coconut milk, bamboo shoots, aubergine, fine beans, capsicum, chilli, pineapple, cherry tomatoes and basil leaves
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="meat-poultry-title">
        Meat &amp; Poultry
        <svg class="trgh-expandable-arrow" id="meat-poultry-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
      <p class="trgh-text-centre" id="meat-poultry-show-hide-p">with a choice of Chicken or Pork 8.25 Beef 8.75 Duck 8.95</p>
    </div>
    <div class="trgh-menu-item-container" id="meat-poultry">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              40. Pad Gra-Prao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Pork or Beef or Duck)
          </p>
          <p>
            Stir-fried with fresh chilli, onion, capsicum, fine beans, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              41. Pad Khing
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Pork or Beef or Duck)
          </p>
          <p>
            Stir-fried with soy sauce, onion, capsicum, mushrooms, ginger and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              42. Pad Tao-Sie
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Pork or Beef or Duck)
          </p>
          <p>
            Stir-fried with black bean sauce, onion, capsicum, mushrooms, carrots, baby corn, ginger and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              43. Pad Priew-Whan
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Pork or Beef or Duck)
          </p>
          <p>
            Stir-fried in Thai sweet &amp; sour sauce, onion, capsicum, pineapple, cucumber and tomatoes
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              44. Pad Gra-Tiem Prik Thai
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            (Chicken or Pork or Beef or Duck)
          </p>
          <p>
            Stir-fried in garlic, pepper &amp; coriander sauce, onion, capsicum and spring onion
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="speciality-meat-poultry-title">
        Specialities – Meat &amp; Poultry
        <svg class="trgh-expandable-arrow" id="speciality-meat-poultry-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="speciality-meat-poultry">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              46. Gai Yang <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            8.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Grilled marinated chicken Thai style served with Thai spicy chilli dip
          </p>
          <p>
            (served in a hot sizzling dish)
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              47. Gai Pad Med Ma-Muang <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            8.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried chicken with cashew nuts, onion, capsicum, carrots and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              48. Moo Pad Prik Gang <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            8.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried pork with a red curry sauce onion, capsicum, fine beans, bamboo shoots, and lime leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              49. Nuer Pad Num-Mun-Hoi
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            8.75
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried beef in oyster sauce onion, capsicum, mushrooms, carrots and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              50. Nuer Pad Kee-Mao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            8.75
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried beef with a red curry paste, onion, capsicum, fine beans, bamboo shoots, krachai and lime leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              51. Suer Rong-Hai (Weeping Tiger) <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            10.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thinly sliced grilled sirloin of beef served with Thai spicy chilli dip
          </p>
          <p>
            (served in a hot sizzling dish)
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              52. Ped Num-Pueng	<span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            10.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Crispy sliced of duck fillet topped with sweet chilli sauce mixed with honey and grounded roasted peanuts
          </p>
          <p>
            (served in a hot sizzling dish)
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              53. Ped Ma-Kham
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            10.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Crispy sliced of duck fillet topped with sweet tamarind sauce and dried shallots
          </p>
          <p>
            (served in a hot sizzling dish)
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="seafood-title">
        Seafood
        <svg class="trgh-expandable-arrow" id="seafood-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="seafood">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              60. Goong Pad Gra-Prao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried king prawns with fresh chilli, onion, capsicum, fine beans, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              61. Goong Pad Priew-Whan
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried king prawns in Thai sweet &amp; sour sauce onion, capsicum, pineapple, cucumber and tomatoes
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              62. Goong Pad Gra-Tiem Prik Thai
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried king prawns in a garlic, pepper &amp; coriander sauce onion, capsicum and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              63. Goong Pad Pak
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried king prawns in a light soy sauce with mixed vegetables
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              64. Pla Muek Pad Gra-Prao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried squid with fresh chilli, onion, capsicum, fine beans, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              65. Pla Muek Pad Num-Prik-Pao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried squid with Thai chilli oil, onion, capsicum and bamboo shoots
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              66. Pla Rad Prik <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried tilapia fillet topped with a tasty sweet &amp; chilli sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              67. Pla Chu-Chee <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            9.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried tilapia fillet topped with a creamy red curry sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              68. Pla Sa-Mun-Prai
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            11.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried seabass fillet topped with crispy Thai herbs and special sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              69. Pla Nueng Ma-Nao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            11.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Steamed seabass fillet topped with fresh Thai chilli and flavoured with lemon juice
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="speciality-seafood-title">
        Specialities – Seafood
        <svg class="trgh-expandable-arrow" id="speciality-seafood-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="speciality-seafood">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              70. Pad Cha Talay <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            11.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried mixed seafood with fresh chilli, onion, capsicum, fine beans, krachai, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              71. Pad Talay Gra-Tiem Prik Thai
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            11.50
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried mixed seafood in garlic, pepper and coriander sauce onion, capsicum and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              72. Goong Pao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            12.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Grilled large river prawns, served with Thai spicy chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              73. Goong Chu-Chee
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            12.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried large river prawns topped with a creamy red curry sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              74. Goong Ma-Kham
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            12.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Deep-fried large river prawns topped with sweet tamarind sauce and dried shallots
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="vegetable-title">
        Vegetable
        <svg class="trgh-expandable-arrow" id="vegetable-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="vegetable">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              80. Pad Ma-Kuer
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried aubergine in black bean sauce with onion, capsicum and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              81. Pad Broccoli
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried broccoli with oyster sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              82. Pad Pak Ruam
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried mixed vegetables with oyster sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              83. Pad Pak Priew-Whan
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried mixed vegetables with Thai sweet &amp; sour sauce
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="rice-title">
        Rice
        <svg class="trgh-expandable-arrow" id="rice-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="rice">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              90. Kao Pad Glass House
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thai special fried rice with egg, chicken and prawns, onion and capsicum, flavoured with soy sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              91. Kao Pad Sub-Pa-Rod <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Tropical fried rice with egg, chicken, onion, capsicum, pineapple, curry powder, turmeric powder and cashew nuts, flavoured with soy sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              92. Kao Pad Crab Meat
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.95
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Crab meat fried rice with egg and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              93. Kao Ga-Ti (Coconut Rice)
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            3.25
          </div>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              94. Kao Kai (Egg Fried Rice)
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            3.25
          </div>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              95. Kao Nhiew	(Sticky Rice)
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            3.25
          </div>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              96. Kao Suoy (Thai Jasmine Rice)
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            2.50
          </div>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="noodles-title">
        Noodles
        <svg class="trgh-expandable-arrow" id="noodles-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="noodles">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              97. Pad Tang-Taek (Plain Noodles)
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.75
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Fried rice noodles with carrots, bean sprouts and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              98. Pad Mee
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Fried egg noodles with egg, carrots, bean sprouts, green vegetables and spring onion
          </p>
          <p>
            5.95 with Chicken	6.95 with Prawns 7.95
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              99. Pad Thai
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Traditional and famous Thai rice noodles, fried with egg in a special sauce, carrots, bean sprouts and spring onion
          </p>
          <p>
            6.50 with Chicken	7.50 with Prawns 8.50
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h2>Vegetarian Menu</h2>
      <h3 class="trgh-menu-clickable-title" id="vegetarian-starters-title">
        Starters
        <svg class="trgh-expandable-arrow" id="vegetarian-starters-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
      <p class="trgh-text-centre" id="vegetarian-starters-show-hide-p">All served with sweet chilli dip</p>
    </div>
    <div class="trgh-menu-item-container" id="vegetarian-starters">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              101. Por Pia Tord
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Mixed vegetable spring rolls
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              102. Kao Pod Tord
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Sweetcorn Cakes
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              103. Tao Hu Tord
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Crispy tofu topped with special sauce and crispy basil
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              104. Pak Choop Pang Tord
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Mixed vegetables in tempura batter
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="vegetarian-soups-title">
        Soups
        <svg class="trgh-expandable-arrow" id="vegetarian-soups-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="vegetarian-soups">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              105. Tom Yum Hed <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thai Hot &amp; Sour clear soup with mushrooms and tomatoes
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              106. Tom Kha Hed
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            5.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Creamy hot &amp; sour soup cooked in coconut milk with mushrooms and tomatoes
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h3 class="trgh-menu-clickable-title" id="vegetarian-mains-title">
        Main Dishes
        <svg class="trgh-expandable-arrow" id="vegetarian-mains-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h3>
    </div>
    <div class="trgh-menu-item-container" id="vegetarian-mains">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              107. Gang Pak <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            A famous Red or Green curry cooked with coconut milk and mixed vegetables
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              108. Gang Pa Pak <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-hot" src="../images/trgh-spiciness-very-hot.svg" alt="Very Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            A very spicy jungle curry cooked without coconut milk, with mixed vegetables
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              109. Tao Hu Pad Gra-Prao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried tofu with fresh chilli, onion, capsicum, fine beans, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              110. Tao Hu Pad Khing
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried tofu with soya sauce, onion, capsicum, mushrooms, ginger and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              111. Tao Hu Pad Priew-Whan
            </h4>
          </div>
          <div class="trgh-menu-item-price-container">
            7.25
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried tofu in Thai sweet &amp; sour sauce onion, capsicum, pineapple, cucumber and tomatoes
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="trgh-menu-meal-container" id="lunch-menu">
    <div class="trgh-menu-section-heading-container">
      <h1>Express Lunch Menu</h1>
      <p class="trgh-text-centre">1 Course meal  6.95 OR 2 Course meal  8.95</p>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h2 class="trgh-menu-clickable-title" id="lunch-starters-title">
        Starters (2.50)
        <svg class="trgh-expandable-arrow" id="lunch-starters-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h2>
    </div>
    <div class="trgh-menu-item-container" id="lunch-starters">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Satay Gai (Chicken Satay) <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            served with peanut sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Kanom Pang Nah Goong <span class="trgh-menu-item-name-clarification">(Chicken/Prawns on Toast)</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Toong Tong <span class="trgh-menu-item-name-clarification">(Chicken/Prawns Golden Parcel)</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Por Pia Tord <span class="trgh-menu-item-name-clarification">(Vegetable Spring Rolls)</span> <span class="trgh-menu-dietary-key-item-text-vegetarian">v</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            served with sweet chilli dip
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Kao Pod Tord <span class="trgh-menu-item-name-clarification">(Sweetcorn Cakes)</span> <span class="trgh-menu-dietary-key-item-text-vegetarian">v</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            served with sweet chilli dip
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h2 class="trgh-menu-clickable-title" id="lunch-mains-one-title">
        Main Dishes
        <svg class="trgh-expandable-arrow" id="lunch-mains-one-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h2>
      <p class="trgh-text-centre">which can be enjoyed on their own, with a choice of Chicken or Pork</p>
    </div>
    <div class="trgh-menu-item-container" id="lunch-mains-one">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Thai
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Traditional Thai rice noodles fried with special homemade sauce
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Mee
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Fried egg noodles with beansprouts, green vegetables and carrots
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Kee-Mao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Spicy fried rice noodles with bamboo shoots and green vegetables
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Kao Pad Glass House
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Thai style special fried rice with egg, onion and capsicum
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Kao Pad Sub-Pa-Rod <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Pineapple fried rice with egg, onion, capsicum and cashew nuts
          </p>
        </div>
      </div>
    </div>
    <div class="trgh-menu-section-heading-container">
      <h2 class="trgh-menu-clickable-title" id="lunch-mains-two-title">
        Main Dishes
        <svg class="trgh-expandable-arrow" id="lunch-mains-two-title-arrow" height="10" width="10">
          <polygon points="0,0 10,0 5,10" />
        </svg>
      </h2>
      <p class="trgh-text-centre">Which are served with jasmine rice, with a choice of Chicken or Pork or Beef</p>
    </div>
    <div class="trgh-menu-item-container" id="lunch-mains-two">
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Gang Daeng <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Red curry cooked in coconut milk with bamboo shoots, fine beans, aubergine, capsicum, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Gang Khiew-Whan <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Green curry cooked in coconut milk with bamboo shoots, fine beans, aubergine, capsicum, lime leaves and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Gang Ga-Ree <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Yellow curry cooked in coconut milk with onion, potato and topped with dried shallots
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pa-Naeng <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            A thick &amp; creamy red curry cooked in coconut milk
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Gra-Prao <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon">
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried with fresh chilli, onion, capsicum, fine beans and basil leaves
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Khing
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried with ginger, onion, capsicum, mushrooms and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Priew-Whan
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried in sweet &amp; sour sauce onion, capsicum, pineapple, cucumber and tomatoes
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Gra-Tiem
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried in garlic, pepper &amp; coriander sauce onion, capsicum and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Med Ma-Muang <span class="trgh-menu-dietary-key-item-text">n</span>
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried Chicken with cashew nuts, onion, capsicum, carrots and spring onion
          </p>
        </div>
      </div>
      <div class="trgh-menu-item">
        <div class="trgh-menu-item-top-line-container">
          <div class="trgh-menu-item-name">
            <h4>
              Pad Num-Mun Hoi
            </h4>
          </div>
        </div>
        <div class="trgh-menu-item-description-container">
          <p>
            Stir-fried Beef in oyster sauce, onion, capsicum, carrots, mushrooms and spring onion
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trgh-menu-generic-info-container">
  <div class="trgh-generic-padded-container trgh-menu-spiciness-key-container">
    <div class="trgh-menu-spiciness-key">
      <div class="trgh-menu-spiciness-key-item">
        <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-mild" src="../images/trgh-spiciness-slightly-hot.svg" alt="Slightly Hot Icon"> slightly hot
      </div>
      <div class="trgh-menu-spiciness-key-item">
        <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-medium" src="../images/trgh-spiciness-medium-hot.svg" alt="Medium Hot Icon"> medium hot
      </div>
      <div class="trgh-menu-spiciness-key-item">
        <img class="trgh-menu-item-spiciness-icon trgh-menu-item-spiciness-icon-hot" src="../images/trgh-spiciness-very-hot.svg" alt="Very Hot Icon"> very hot
      </div>
    </div>
    <div class="trgh-menu-dietary-key">
      <div class="trgh-menu-dietary-key-item">
        <span class="trgh-menu-dietary-key-item-text">n</span> = nuts
      </div>
      <div class="trgh-menu-dietary-key-item">
        <span class="trgh-menu-dietary-key-item-text-vegetarian">v</span> = vegetarian
      </div>
    </div>
  </div>
  <div class="trgh-generic-padded-container">
    <div class="trgh-menu-dietary-info">
      <p>
        Please be aware that some dishes may contain traces of the following:
      </p>
      <ol>
        <li>
          Celery
        </li>
        <li>
          Cereals with Gluten
        </li>
        <li>
          Crustaceans
        </li>
        <li>
          Eggs
        </li>
        <li>
          Fish
        </li>
        <li>
          Lupins
        </li>
        <li>
          Milk
        </li>
        <li>
          Molluscs
        </li>
        <li>
          Mustard
        </li>
        <li>
          Nuts
        </li>
        <li>
          Peanuts
        </li>
        <li>
          Sesame seeds
        </li>
        <li>
          Soya
        </li>
        <li>
          Sulphur dioxide
        </li>
      </ol>
      <p>
        A comprehensive guide to every dish is available upon request
      </p>
    </div>
    <p class="trgh-text-centre">
      ***   Prices are inclusive of VAT ***
    </p>
    <p class="trgh-text-centre">
      A discretionary service charge of 10% will be added to all bills
    </p>
  </div>
</div>
